<a href="https://colab.research.google.com/github/Aak172003/Aak172003/blob/main/Session_1_2_and_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello' , 4 , 4.5 , True)

Hello 4 4.5 True

In [ ]:
print('Aman' , 4 , 4.5 , True , sep = '\n')

Aman
4
4.5
True

In [ ]:
print('Aman' , 4 , 4.5 , True , sep = ' / ')

Aman / 4 / 4.5 / True

# Data Types

In [ ]:
# 1e308 => 1 * 10 ^ 308
print(1e308)

1e+308

In [ ]:
# 1.7e308 => 1.7 * 10 ^ 308
print(1.7e308)

1.7e+308

In [ ]:
# List in C language  => we called as Array

list = [1,2,3,4,5]
print("This is List -> ",list)

This is List ->  [1, 2, 3, 4, 5]

In [ ]:
# Tuple

tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Set
set = {1,2,3,4,5,6,1,2,3}
print("this is set data -> " , set )

this is set data ->  {1, 2, 3, 4, 5, 6}

In [ ]:
# Dictionary

my_dict = {'name': 'Aman', 'age': 70}

print(my_dict['name'])

Aman

# Interview Question ->

In Python, the terms "mutable" and "immutable" refer to whether an object's state can be changed or not after it is created.

1. **Mutable:**
   - **List:** Lists are mutable. You can modify their elements by assigning new values or using methods like `append()`, `extend()`, `insert()`, `remove()`, or `pop()`.

   - **Set:** Sets are mutable. You can add or remove elements using methods like `add()`, `remove()`, or `discard()`.

   - **Dictionary:** Dictionaries are mutable. You can add, modify, or remove key-value pairs using various methods.


2. **Immutable:**
   - **Tuple:** Tuples are immutable. Once a tuple is created, you cannot change its elements. You can, however, create a new tuple with different values.

   - **String:** Though you didn't mention it, strings are also immutable in Python. Once a string is created, you cannot modify its characters.

   - **Frozen Set:** Similar to sets, but frozen sets are immutable. Once a frozen set is created, you cannot add or remove elements.


## Frozen Set

In Python, a frozen set is an immutable version of a set. While a regular set allows you to add, remove, or update elements, a frozen set doesn't support such operations once it's created. Once you define the elements of a frozen set, they cannot be changed. This immutability makes frozen sets suitable for situations where you want a set-like data structure with the guarantee that its content won't change.

Here's an example of creating a frozen set in Python:

```python
# Creating a regular set
normal_set = {1, 2, 3, 4, 5}

# Creating a frozen set from the normal set
frozen_set = frozenset(normal_set)

print("Normal Set:", normal_set)
print("Frozen Set:", frozen_set)
```

In this example, `frozenset()` is used to create a frozen set from `normal_set`. Once the frozen set is created, you cannot add or remove elements from it.

Attempting to do so will result in an error.

```python
# Attempting to add an element to a frozen set (this will raise an error)
# frozen_set.add(6)
# TypeError: 'frozenset' object has no attribute 'add'
```

It's important to note that while frozen sets are immutable, regular sets are mutable. So, if you need a set that can be modified after creation, you would use a regular set.

#### If immutability is desired, then a frozen set is the appropriate choice.

# Type Function

In [ ]:
type(my_dict)

dict

# Variables

In [ ]:
name = "Aakash"
print('My name is : ' ,name)

My name is :  Aakash

# Interview Question


## Dynamic Typing
Simple means we don't tell the data type of the variable

name = "Aakash"     
print(name)

## Static typing :
Means here we need to define the data type of the variable , which means python is Dynamic type Languega .

string name = "Aakash"                                          
print(name)

# Interview Question

## Dynamic Binding -> Data type not fixed

a = "Aakash"  
print(a)

a = 1  
print(a)

This does not give error in Python , beacuse python support dynamic binding , But other c , c++ and java does not support


## Static Binding ->
###### Data type fixed or that can store similar kind of value

In [ ]:
a,b,c = 1 , 2 , 3
print(a , b , c)

1 2 3

In [ ]:
# All Assign with the same value
a = b = c = 1
print(a , b , c)

1 1 1

# Keywords
Which means reserverd keyword for interpreter or else compilers

#Identifiers
names created by user or else we can say that user defined name

# Static Software
   Like calander
# Dynamic software
  Like chat-gpt , Ola  , Zomoto

# Talk About User Input

In [ ]:
name = input("Enter Your Name : ")
print("My name is : ", name)

Enter Your Name : Aman
My name is :  Aman

In [ ]:
n1 = int(input("Enter 1st No. "))
n2 = int(input("Enter 2nd No. "))

print(n1 + n2)

Enter 1st No. 5
Enter 2nd No. 7
12

# Interview ( Question )
Why python treat every user input as string , because string is a universal format , which means any thing we can store in string format , and those thing needed to be change , we can easily change

# Interview Question

Type conversion operation in python does not change the original data , but it creates a new value ,
But Original will be same

# Literal -> values which stored in variable

name = "Aakash"

nam is variable

= is operator

"Aakash" is literal

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal

float_1 = 10.5
float_2 = 1.5e2   # 1.5 * 10^2
float_3 = 1.5e-3  # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"

multiline_str = """This is a multiline string with more than one line code."""

unicode = u"\U0001f600\U0001F606\U0001F923"

raw_str = r"raw \t string"
raw_str = "raw \t string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw 	 string

# Interview Question

We can not make any variable before use , actually Python allows that whenever you want you can create

To solve this error , we can use None keyword , which represents nothing

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)       # Integer Divison

print(5%2)        # Modulus

print(5**2)       # Power

11
-1
30
2.5
2
1
25

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise Operators -> Work on binary representation

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)   # Right shift ( 2 times Divide by 2 )

print(5 << 2)   # Left shift ( 2 times Multiply by 2 )

2
3
1
-4
1
20

# Interview Question

Python does work with increment and decrement operator

In [ ]:
# Membership Operators
# ( In c , c++ and Java -> if we want this things so we have to traverse a loop for finding that result )

# in/not in

print('D' not in 'Delhi')

print(2 in [2,3,4,5,6])

False
True

# If-else in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input("Enter your email: ")
password = input("Enter your password: ")

if email == "123@gmail.com":
    if password == "123":
        print("Welcome")
    else:
        print("Password is wrong")
else:
    print("Email is wrong")

Enter your email: 123
Enter your password: d
Email is wrong

In [ ]:
# Give a second chance , if mail id correct but password is incorrect

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')

elif email == 'nitish.campusx@gmail.com' and password != '1234':

  # tell the user

  print('Incorrect password')

  password = input('enter password again')

  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter emailnitish.campusx@gmail.com
enter password4321
Incorrect password
enter password again1234
Welcome,finally!

In [ ]:
# Check min no between 4 user input numbers

a = int(input("Enter a :"))
b = int(input("Enter b :"))
c = int(input("Enter c :"))
d = int(input("Enter d :"))

if a< b and a< c and a<d :
  print("smallest is" , a)
elif b<c and b< d:
    print("smallest is :",  b)
elif c<d:
    print("smallest is : ", c)
else:
  print("smallest is : " , d)

Enter a :4
Enter b :8
Enter c :9
Enter d :1
smallest is :  1

In [ ]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

# Modules in Python
- math
- keywords
- random
- datetime

In [ ]:
import math

In [ ]:
print(math.factorial(5))

120

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random

print(random.randint(1,100))

90

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2023-12-13 04:53:35.764534

In [ ]:
!pip install hypothesis

# Note ->
### This helps , to check How many Modules
### Exist in Python

In [ ]:


help('modules')

# While loop example
program to print the table

In [ ]:
number = int(input('enter the number'))

i = 1

while i<=10:
  print(number,'*',i,'=',number * i)
  i += 1

In [ ]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

In [ ]:
# Guessing game

# generate a random integer between 1 and 100
import random

jackpot = random.randint(1,100)


guess = int(input('guess karo'))

counter = 1

# Iterate , until we found correct Guess Number
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

# For loop demo

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

# 1 , 1<11
for i in range(1 , 11):
  print(i)


# 1 , 1<11 space 2 ka
for i in range(1 , 11, 2):
  print(i)

# Program
 The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.
[ ]

In [ ]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)

  # we need to decrease in every year by 10% in curr_population
  curr_pop = curr_pop / 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:

# Via ( While Loop )
# Implement 1 / 1! + 2 / 2! + .........

import math
num = int(input("Enter number :"))

sum = 0
i = 0
while i<num+1 :
  fct = math.factorial(i)
  sum = sum +  i/fct
  i += 1

# If loop terminate else case will run
else:
  print("sum is : ", sum )
  print("Loop Complete")


# Via ( For Loop )

# import math
# n = int(input('enter n'))

# result = 0

# for i in range(1,n+1):

#   fact = math.factorial(i)
#   result = result + i/fact

# print(result)

Enter number :5
sum is :  2.708333333333333
Loop Complete

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
for i in range(1,11):
  for j in range(1, i+1):

    # end is inbuilt in print function in python
    print('*' , end = '')
  print()

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):

  # first print in increasing
  for j in range(1,i+1):
    print(j,end=' ')

  # then print in decreasing
  for k in range(i-1,0,-1):
    print(k,end=' ')

  print()

enter number of rows5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# String
Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions


# Unicode  v/s ASCII
[link text](https://www.geeksforgeeks.org/ascii-vs-unicode/)

In [ ]:
s = 'hello'
s = "hello"

# multiline strings
s = '''hello
my name is '''

# s = """hello
# My name is
# """

# s = str('hello')
print(s)

hello
my name is

# Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[4])

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

In [ ]:
# Slicing
s = 'hello world'
print(s[0:5])   # 4 -> like 5-1 = 4

In [ ]:
# Slicing
s = 'hello world'
print(s[5:0:])   # 4 -> like 5-1 = 4

# Not Give any answer

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

 wo

# Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

        #  OR

s = 'hello world'
del s[-1:-5:2]
print(s)

# Python strings are immutable
# and we can not even delete portion form string ,
# But we can delete

In [ ]:
s = 'hello world'

# Delete s
del s

# After that if , i want access s , so it give me error
# print(s)

# Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

print('delhi'*5)

delhi mumbai
delhidelhidelhidelhidelhi

In [ ]:
print('mumbai' > 'pune')
# lexiographically
# those words come first which is small , and those comes after which is greater

#  capital value has samll ASCII Value , small value has high ASCII Value
print('Pune' > 'pune')

In [ ]:
# in python , if string have any char , which means true , if empty means false
# jb tk usko true milta hai tb tk jaata hai , or wo jaha true mila wo print

print('hello' and 'world' and 'aman')

# if first true , aage nhi jaega
print('hello' or 'world')

# first empty , so aag nhi jaega false ko hi print kr dega jiski wjh se false aaya
print('' and 'world')

# if first false  , aage bhi jaega , jb true milega , tb ruk jaega
print('' or 'world')

print(not 'hello')

In [ ]:
for i in 'delhi':
  print('pune')

for i in 'hello':
  print(i)

pune
pune
pune
pune
pune
h
e
l
l
o

# Common Functions
- len
- max
- min
- sorted

In [ ]:
print(len('hello world'))

print(max('hello world'))     # print max character


print(min('hello world'))     # print min character  space is highly less character

print(sorted('hello world', reverse=True))

11
w

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# Interview Question

if we use any  

- Capitalize
- Title
- Upper / Lower
- Swapcase  

from above so it will not directly change into original ,
 actually it create a new memory loaction , and that modified stored in this

In [ ]:
s = 'hello world'

# Capitalize -> capital only first letter
print(s.capitalize())
print(s)


# Title -> every first letter even after space
print(s.title())

# Upper
print(s.upper())

# Lower
print('Hello Wolrd'.lower())

# Swapcase -> convert capital to lower , lower to capital
print('HeLlO WorLD'.swapcase()  )

Hello world
hello world
Hello World
HELLO WORLD
hello wolrd
hElLo wORld

# Interview Question

## Find -> jo nhi milta , return -1

## Index -> jo nhi milta , give error

In [ ]:
# Count
print('my name is nitish'.count('i'))

# Find -> jo nhi milta , return -1
print('my name is nitish'.find('x'))

# Index -> jo nhi milta , return error
print('my name is nitish'.index('a'))

# Endswith / startswith

In [ ]:
'my name is nitish'.endswith('sho')

In [ ]:
'my name is nitish'.startswith('my')

# format

In [ ]:
name = 'nitish'  # 0
gender = 'male'  # 1
age = 25         # 2

'Hi my name is {1} and I am a {0} and my age is {2}'.format(gender,name , age)

# Interview Question

# isalnum
check if string present alphabet and numeric combination true , otherwise false

# isalpha
check if string present only alphabet true , otherwise false


# isdigit
check if string present only numeric true , otherwise false


# isidentifier
check if string is valid identifier so true , otherwise false

## Split/Join


from above so it will not directly change into original , actually it create a new memory loaction , and that modified stored in this

In [ ]:
s = 'hi my name is nitish'
print(s.split())

print(s)

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

## Replace


from above so it will not directly change into original , actually it create a new memory loaction , and that modified stored in this

In [ ]:
s = 'hi my name is nitish'
print(s.replace('nitish','campusx'))

# Replace function ,
# does not replace in original string
print(s)

hi my name is campusx
hi my name is nitish

## Strip

remove trial spaces from left side and right side as well
not remove space form middle

# New Section

In [ ]:
'nitish                           '.strip()

'nitish'